@model Web.OraLounge.Areas.Admin.Models.BookingFilterViewModel
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Page Heading -->
<!--<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Categories</h1>
</div>-->
<!-- Content Row -->
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Booking Schedule</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form class="">
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-1 col-form-label">Date</label>
                        <div class="col-sm-6">
                            <input type="date" id="bookingDate" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-1 col-form-label">Place</label>
                        <div class="col-sm-6">
                            @Html.EnumDropDownListFor(x => x.BookingPlace, new { @class = "form-control", @id="bookingPlace" })
                        </div>
                    </div>
                    <button type="button" id="filterBookings" class="btn btn-success">
                        Show Bookings
                    </button>
                </form>
                <br />
                <div class="row">
                    <h5>Schedule</h5>
                </div>
                <div id="bookingTable">
                </div>
                <br />
                <div class="row">
                    <h5>Pending Bookings</h5>
                </div>
                <div id="pendingBookingTable">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="updateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set Table</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="updateModalBody">
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var table;
        $(document).ready(function () {
            LoadBookings();
            LoadPendingBookings();
        });
        $('#pendingBooking').on('click', '.edit-row', function () {
            var $row = $(this).closest('tr'),
                itemId = $row.attr('data-item-id');
            var data = table.row($row).data();
            $.ajax({
                url: '/Admin/Booking/_SetTable',
                method: 'GET',
                data: { id: itemId },
                success: function (result) {
                    $(updateModalBody).html(result);
                    $(updateModal).modal("show");
                }
            });
        });

        $('#filterBookings').on('click', function () {
            var date = $('#bookingDate').val();
            var place = $('#bookingPlace').val();

            LoadBookings(date, place);
            LoadPendingBookings(date, place);
        });

        function LoadBookings(date, place) {
            $.ajax({
                url: '/Admin/Booking/_BookingSchedule',
                method: 'GET',
                data: { date: date, place: place },
                success: function (result) {
                    $("#bookingTable").html(result);
                }
            });
        }
        function LoadPendingBookings(date, place) {
            $.ajax({
                url: '/Admin/Booking/_PendingBookings',
                method: 'GET',
                data: { date: date, place: place },
                success: function (result) {
                    $("#pendingBookingTable").html(result);
                    table = $('#pendingBooking').DataTable();
                }
            });
        }
    </script>
}