
@{
    ViewBag.Title = "Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="section_welcome"></section>
<!-- CONTENT
   ================================================== -->
<!-- HEADER
================================================== -->
<section class="section section_header section_header__contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- Heading -->
                <h1 class="section__heading section_header__heading text-center">
                    Checkout Canceled
                </h1>

                <!-- Breadcrumbs -->
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Checkout Canceled</li>
                </ol>

            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
    <div class="section_header__bg contacts_bg"></div>
</section>

<!-- section map-heading -->
<section class="section_contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section_title">&#8722; Checkout Canceled &#8722;</h2>
                <hr class="section_title_line">
            </div>
        </div>

        <div class="row center-block">
            <div class="col-md-3 col-sm-12"></div>
            <div class="col-md-6 col-sm-12">
                <h6 id="message">
                    Checkout has been canceled!
                </h6>
            </div> <!-- / .row -->
        </div>
    </div> <!-- .container -->
</section>

