@model Web.OraLounge.Models.CheckoutViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="section_welcome"></section>
<!-- CONTENT
   ================================================== -->
<!-- HEADER
================================================== -->
<section class="section section_header section_header__contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- Heading -->
                <h1 class="section__heading section_header__heading text-center">
                    Checkout
                </h1>

                <!-- Breadcrumbs -->
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="active">Checkout</li>
                </ol>

            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
    <div class="section_header__bg contacts_bg"></div>
</section>

<!-- section map-heading -->
<section class="section_contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section_title">&#8722; Checkout &#8722;</h2>
                <hr class="section_title_line">
            </div>
        </div>

        <div class="row center-block">
            <div class="col-md-3 col-sm-12"></div>
            <div class="col-md-6 col-sm-12">
                <h6 id="message">
                    Please wait! You are redirecting to checkout.
                </h6>
            </div> <!-- / .row -->
        </div>
    </div> <!-- .container -->
</section>
@section scripts{
    @*<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
        <script src="https://js.stripe.com/v3/"></script>*@

    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        //var stripe = Stripe('pk_test_WAxhaNZ9Qk3fjFOmLf3XcvGq00L1awNI4W');

        window.onload = function () {
            fetch('@Url.Action("CreateCheckoutSession", "Checkout")?bookingId=@Model.BookingId', {
                method: 'POST',
            })
                .then(response => response.json())
                .then(function (result) {
                    if (result.success == true)
                        window.location.href = result.url;
                    else
                        $("#message").text("Something went wrong! Please try again later!");
                })
                .catch(function (error) {
                    $("#message").text("Something went wrong! Please try again later!");
                });
        };
    </script>
}
