@{
    ViewData["Title"] = "About";
}
<section id="section_welcome"></section>
<!-- HEADER
      ================================================== -->
<section class="section section_header section_header__about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- Heading -->
                <h1 class="section__heading section_header__heading text-center">
                    About us
                </h1>

                <!-- Breadcrumbs -->
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">About Us</li>
                </ol>

            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
    <div class="section_header__bg about_bg"></div>
</section>

<!-- section story -->
<section class="section_story">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

                <div class="section_story__item">
                    <div class="story_item__year">
                        2005
                    </div>
                    <i class="ion-ios-star"></i>
                    <h3 class="story_item__title">
                        Ora Lounge open
                    </h3>
                    <p class="story_item__desc">

                    </p>
                </div>

            </div>
            @*<div class="col-sm-4">

                    <div class="section_story__item">
                        <div class="story_item__year">
                            2005
                        </div>
                        <i class="ion-ios-star"></i>
                        <h3 class="story_item__title">
                            Five Stars
                        </h3>
                        <p class="story_item__desc">
                            Quisquam similique quasi beatae doloremque ut voluptatum incidunt unde adipisci, perferendis nesciunt aut dolores aspernatur corrupti quaerat ducimus voluptate magni minima exercitationem non quos.
                        </p>
                    </div>

                </div>*@
            <div class="col-sm-6">

                <div class="section_story__item">
                    <div class="story_item__year">
                        2020
                    </div>
                    <i class="ion-ios-star"></i>
                    <h3 class="story_item__title">
                        Best shisha place & bar in Harringay
                    </h3>
                    <p class="story_item__desc">

                    </p>
                </div>

            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                <div class="section_story__quote">
                    <div class="quote__img">
                        <img src="~/assets/img/info_img.jpg" class="img-responsive" alt="...">
                    </div>
                    <h3 class="qoute__title">- Food - Drinks - Life -</h3>
                    <p class="qoute__text">

                    <p>
                        @*<h4 class="qoute__author">
                                &#8722; Johnatan Doe &#8722;
                            </h4>
                            <div class="qoute__signature">
                                <img src="~/assets/img/signature.png" alt="...">
                            </div>*@
                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- .container -->
</section>

<!-- section slogan -->
<section class="section_slogan">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="slogan_title">&#8722; Ora Lounge &#8722;</h1>
                @*<p class="slogan_caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, cumque, quia. Laboriosam eveniet suscipit obcaecati corrupti quam.</p>*@
            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
</section>